include src/*.h
include src/*.cpp
include src/*.pyi
include tests/*
include README.*
include LICENSE.txt

# Include this file, needed for bdist_rpm
include MANIFEST.in

global-exclude *.py[cod]
